**/__pycache__/
databathing.egg-info
dist
*.log
*.pyc
*.tab
out
.idea
.svn
*.iml
/build
vendor/
._*
.DS_Store
.eggs
.pytest_cache
Pipfile
Pipfile.lock
examples/pipebathing/data/fact_dim_tbl
examples/pipebathing/data/agg_tbl